.body{
    background-color: aquamarine;
    font-family:Georgia, 'Times New Roman', Times, serif;
     text-align: center;
     margin: 0;
     padding: 0;

}
.invitation{
    background-color:white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0,3);
}
.BIRTHDAY_INVITATION{
color: black;
font-size: 24px;

}
}
.p{
    font-size: 16px;

}
.@keyframes background transformation{
    from{background-color: aquamarine;
}
to{
    background-color: white;
}
.envelope{
    animation:background transformation 3s
    infinite
}